extends layout/app

block page

    include chunk/header
    .content
        include chunk/banners/free-spins
        include chunk/navigation/front-page
        include chunk/bonuses/bonuses
        include chunk/global/top-10
        include chunk/global/content-with-icons-list
        include chunk/slots/slots
        include chunk/bonuses/free-spins
        include chunk/tables/payment
        include chunk/tables/software
        include chunk/global/how-to
        include chunk/global/top-10
        include chunk/bonuses/best-casino
        include chunk/tables/criteria-choose
        include chunk/bonuses/welcome-bonuses
        include chunk/tables/block-description
        include chunk/global/top-tips
        include chunk/global/faq
    include chunk/footer
    include chunk/aside-menu