section.content-block.banner
    h2 Exclusive Free Spins
    .banner__list
        .banner__item.bonus.d-flex.d-flex-ff-column.d-flex-ai-center.center
            <svg class="svg-icon bonus__label">
                <use xlink:href="./img/sprites.svg#exclusive-offers"></use>
            </svg>
            a(href="/" style=`background-color: #1F294A`).bonus__logo.d-flex.d-flex-ai-center
                img(src="./img/casino/euro.png", alt="")
            p.h3
                b £30 
                |Free Bet
            p Enjoy 100% up to <b>£50 + 50</b> Free Spins
            a(href="").btn-main.blue Claim Bonus
        .banner__item.bonus.d-flex.d-flex-ff-column.d-flex-ai-center.center
            <svg class="svg-icon bonus__label">
                <use xlink:href="./img/sprites.svg#exclusive-offers"></use>
            </svg>
            a(href="/" style=`background-color: #1F294A`).bonus__logo.d-flex.d-flex-ai-center
                img(src="./img/casino/euro.png", alt="")
            p.h3
                b £30 
                |Free Bet
            p Enjoy 100% up to <b>£50 + 50</b> Free Spins
            a(href="").btn-main.blue Claim Bonus


