section.block-description.content-block.block
    .toggle-text-container
        .toggle-text
            .cms-description-text
                h2 Identify reputable casinos
                p Reviewing an online casino correctly takes a lot of time and research and so this is not a job that anyone can carry out. It is exactly why we task the experts here at Stakers HQ with that very job. The reason why we perform each review is that it helps stakers to fully understand what to expect from each online casino. This knowledge is vital if you want to find the right casino and enjoy the best online gaming experiences.
                p Reviewing an online casino correctly takes a lot of time and research and so this is not a job that anyone can carry out. It is exactly why we task the experts here at Stakers HQ with that very job. The reason why we perform each review is that it helps stakers to fully understand what to expect from each online casino. This knowledge is vital if you want to find the right casino and enjoy the best online gaming experiences.
        button.toggle-button.d-flex.d-flex-ai-center
            <svg class="svg-icon">
                <use xlink:href="./img/sprites.svg#plus"></use>
            </svg>
            |Load More
    .block-description__group
        h4 How do you recognize reputable online casinos?
        .block-description__list
            each item, index in ['Speed&nbsp;of&nbsp;deposit&nbsp;and&nbsp;withdrawal', 'Level&nbsp;of&nbsp;payout&nbsp;percentages', 'Security&nbsp;and&nbsp;fairness', 'Welcome&nbsp;Bonus&nbsp;and&nbsp;Terms', 'Quality&nbsp;of&nbsp;customer&nbsp;service','Mobile&nbsp;functionality&nbsp;and&nbsp;apps','Number&nbsp;of&nbsp;games','Live&nbsp;dealer&nbsp;games']
                .block-description__item.block-description__item--img.d-flex.d-flex-ai-center
                    i.img.bg-image(style="background-image: url(./img/icons/authority-"+index+".png);")
                    p.text.p1!=item
    .toggle-text-container
        .toggle-text
            .cms-description-text
                h2 How do we review online casinos
                p Reviewing an online casino correctly takes a lot of time and research and so this is not a job that anyone can carry out. It is exactly why we task the experts here at Stakers HQ with that very job. The reason why we perform each review is that it helps stakers to fully understand what to expect from each online casino. This knowledge is vital if you want to find the right casino and enjoy the best online gaming experiences.
                p Reviewing an online casino correctly takes a lot of time and research and so this is not a job that anyone can carry out. It is exactly why we task the experts here at Stakers HQ with that very job. The reason why we perform each review is that it helps stakers to fully understand what to expect from each online casino. This knowledge is vital if you want to find the right casino and enjoy the best online gaming experiences.
        button.toggle-button.d-flex.d-flex-ai-center
            <svg class="svg-icon">
                <use xlink:href="./img/sprites.svg#plus"></use>
            </svg>
            |Load More
    