section.filter
    .filter__top.d-flex.d-flex-ai-stretch.block
        .filter__item
            p.p1--bold Social Assessment
            .filter__rating
                label.d-flex.d-flex-ai-center
                    input(type="radio", name="rating")
                    span.border.d-flex.d-flex-ai-center
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                label.d-flex.d-flex-ai-center
                    input(type="radio", name="rating")
                    span.border.d-flex.d-flex-ai-center
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#F2F3F6">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                label.d-flex.d-flex-ai-center
                    input(type="radio", name="rating")
                    span.border.d-flex.d-flex-ai-center
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#F2F3F6">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#F2F3F6">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                label.d-flex.d-flex-ai-center
                    input(type="radio", name="rating")
                    span.border.d-flex.d-flex-ai-center
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#FBA744">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#F2F3F6">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#F2F3F6">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
                        <svg class="svg-icon" fill="#F2F3F6">
                            <use xlink:href="/img/sprites.svg#star"></use>
                        </svg>
        .filter__item
            p.p1--bold Type cashback
            .filter__type.d-flex.d-flex-ai-center
                label
                    input(type="checkbox", name="type")
                    span.border
                        span.d-flex.d-flex-ff-column.d-flex-ai-center
                            <svg class="svg-icon">
                                <use xlink:href="/img/sprites.svg#icon-filter-4"></use>
                            </svg>
                            p.p3 Cashback
                label
                    input(type="checkbox", name="type")
                    span.border
                        span.d-flex.d-flex-ff-column.d-flex-ai-center
                            <svg class="svg-icon">
                                <use xlink:href="/img/sprites.svg#icon-filter-5"></use>
                            </svg>
                            p.p3 Acca Insurance
                label
                    input(type="checkbox", name="type")
                    span.border
                        span.d-flex.d-flex-ff-column.d-flex-ai-center
                            <svg class="svg-icon">
                                <use xlink:href="/img/sprites.svg#icon-filter-6"></use>
                            </svg>
                            p.p3 Combined
                label
                    input(type="checkbox", name="type")
                    span.border
                        span.d-flex.d-flex-ff-column.d-flex-ai-center
                            <svg class="svg-icon">
                                <use xlink:href="/img/sprites.svg#icon-filter-7"></use>
                            </svg>
                            p.p3 Early Payout
    .filter__bottom.block
        .filter__tabs.d-flex.d-flex-ai.center
            label
                input(type="checkbox" name="bonus_type")
                span.inner.d-flex.d-flex-ai-center.d-flex-jc-center
                    <svg class="svg-icon filter">
                        <use xlink:href="./img/sprites.svg#icon-filter-1"></use>
                    </svg>
                    p Free Spins
            label
                input(type="checkbox" name="bonus_type")
                span.inner.d-flex.d-flex-ai-center.d-flex-jc-center
                    <svg class="svg-icon filter">
                        <use xlink:href="./img/sprites.svg#icon-filter-2"></use>
                    </svg>
                    p Deposit Bonus
            label
                input(type="checkbox" name="bonus_type")
                span.inner.d-flex.d-flex-ai-center.d-flex-jc-center
                    <svg class="svg-icon filter">
                        <use xlink:href="./img/sprites.svg#icon-filter-3"></use>
                    </svg>
                    p No Deposit Bonus
