section.how-to.content-block.block
    .toggle-text-container
        .toggle-text
            .cms-description-text
                h2 5 Top Tips Before Playing At The Best Online Casinos
                p The online casino bonus is the source of a lot of controversy amongst the staker community, but the real issue comes down to one very simple fact. Those who have no luck with these bonuses are usually not using them correctly, and that comes down to not understanding that these bonuses are worded to make you feel like you have a strong chance of making a profit.
                p The online casino bonus is the source of a lot of controversy amongst the staker community, but the real issue comes down to one very simple fact. Those who have no luck with these bonuses are usually not using them correctly, and that comes down to not understanding that these bonuses are worded to make you feel like you have a strong chance of making a profit.
        button.toggle-button.d-flex.d-flex-ai-center
            <svg class="svg-icon">
                <use xlink:href="./img/sprites.svg#plus"></use>
            </svg>
            |Load More
    .how-to__row.d-flex.d-flex-ai-start
        each item in [1, 2, 3, 4, 5, 6]
            .how-to__card.how-to-card
                .how-to-card__img.bg-image(style="background-image: url(./img/how-to/how-to-"+item+".png);")
                .how-to-card__content
                    .how-to-card__title.h4 1. Find a Bonus You Like
                    .toggle-text-container
                        .toggle-text
                            .cms-description-text.p2
                                p What type of bonus is it you want to pick? There are many opportunities, including a cashback, sign-up, welcome, or free spins bonus, to name a few.
                                p To make it simple for you to find the right bonus, you can use our Bonus Finder tool. Once you have homed in on a specific promotion, it's time to make your deposit and redeem it.
                        button.toggle-button.d-flex.d-flex-ai-center
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#plus"></use>
                            </svg>
                            |Load More