section.block.content-block.top-tips
    .toggle-text-container
        .toggle-text
            .cms-description-text
                h2 5 Top Tips Before Playing At The Best Online Casinos
                p The online casino bonus is the source of a lot of controversy amongst the staker community, but the real issue comes down to one very simple fact. Those who have no luck with these bonuses are usually not using them correctly, and that comes down to not understanding that these bonuses are worded to make you feel like you have a strong chance of making a profit.
                p The online casino bonus is the source of a lot of controversy amongst the staker community, but the real issue comes down to one very simple fact. Those who have no luck with these bonuses are usually not using them correctly, and that comes down to not understanding that these bonuses are worded to make you feel like you have a strong chance of making a profit.
        button.toggle-button.d-flex.d-flex-ai-center
            <svg class="svg-icon">
                <use xlink:href="./img/sprites.svg#plus"></use>
            </svg>
            |Load More
    .top-tips__row.d-flex.d-flex-ai-start
        each item in [1, 2, 3, 4, 5]
            .top-tips__item
                .d-flex.d-flex-ai-start.top-tips__head
                    i.bg-image(style="background-image: url(./img/icons/top-tips-"+item+".png)")
                    p.h4 Pick Preapproved Casinos Listed In The Winners Casino Lounge
                .top-tips__content.toggle-text-container
                    .toggle-text
                        .cms-description-text
                            p The online casino bonus is the source of a lot of controversy amongst the staker community, but the real issue comes down to one very simple fact. Those who have no luck with these bonuses are usually not using them correctly, and that comes down to not understanding that these bonuses are worded to make you feel like you have a strong chance of making a profit.
                            p The online casino bonus is the source of a lot of controversy amongst the staker community, but the real issue comes down to one very simple fact. Those who have no luck with these bonuses are usually not using them correctly, and that comes down to not understanding that these bonuses are worded to make you feel like you have a strong chance of making a profit.
                    button.toggle-button.d-flex.d-flex-ai-center
                        <svg class="svg-icon">
                            <use xlink:href="./img/sprites.svg#plus"></use>
                        </svg>
                        |Load More

