section.content-block.exclusive-fs.bg-image(style="background-image: url(./img/banners/exclusive-fs-banner.png);")
    h2 Exclusive Free Spins
    each item in bonuses
        .exclusive-fs__bonus.bonus.shadow
            <svg class="svg-icon bonus__label">
                <use xlink:href="./img/sprites.svg#exclusive-offers"></use>
            </svg>
            .d-flex.d-flex-ai-center
                a(href="/" style=`background-color: ${item.color}`).bonus__logo.d-flex.d-flex-ai-center
                    img(src=item.img, alt="")
                    span 20 FS
                .bonus__aside
                    p.h4!=item.preview
                    .players.d-flex.d-flex-ai-center
                        i.bg-image(style="background-image: url(./img/uk.png);")
                        p.p3 Players:
                            b 32k
            .bonus__bottom
                .d-flex.d-flex-ai-center.d-flex-jc-between
                    .info.d-flex.d-flex-ai-center
                        .info__column
                            p.p4.p4--semi-bold Turnover
                            p.p2.p2--bold 5X
                        .info__column
                            p.p4.p4--semi-bold Max W
                            p.p2.p2--bold ∞
                        .info__column
                            p.p4.p4--semi-bold Days Valid
                            p.p2.p2--bold 21
                    a(href="").btn-main.blue Claim Bonus
                .bonus__tc
                    p=item.tc
                        
