$black: #222222;
$blue: #1876F0;
$blueAccent: #176CDA;
$blueHover: #156EE1;
$red: #F0284A;
$redAccent: #DA1B3C;
$redHover: #DC1D3E;
$orange: #FFB526;
$yellow: #FFD600;
$green: #0F975E;
$grayText: #888888;
$grayBg: #F1F5F8;
$grayLine: #EAEEF0;
$bgTable: #FBFCFD;
$white: #FFFFFF;