.mobile-wrap.shadow
    .d-flex.d-flex-ai-center.d-flex-jc-between
        a(href="/").mobile-wrap__logo
            img(src="img/logo.png", alt="", srcset="")
        button.close-menu.d-flex.d-flex-ai-center.d-flex-jc-center
            <svg class="svg-icon filter">
                <use xlink:href="./img/sprites.svg#icon-arrow"></use>
            </svg>
    .wrapper.d-flex.d-flex-ff-column.d-flex-jc-between
        .mobile-wrap__top
            .mobile-wrap__menu
                ul
                    li(class=(
                                name === "best-casino" ||
                                name === "casino-bonuses" ||
                                name === "highroller" ||
                                name === "new-casino" || 
                                name === "mobile-casino" || 
                                name === "paypal-casino" ||
                                name === "jackpot-casino" ? "active" : undefined) data-id="menu-casino").js-toggle
                        .d-flex.d-flex-ai-center
                            .svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                <svg >
                                    <use xlink:href="./img/sprites.svg#menu-casino"></use>
                                </svg>
                            .content
                                p.p2.p2--bold ONLINE CASINO
                                p.p3 Exclusive Deals
                            .arrow
                                <svg >
                                    <use xlink:href="./img/sprites.svg#icon-arrow"></use>
                                </svg>
                        ul(class=(
                                    name === "best-casino" ||
                                    name === "casino-bonuses" ||
                                    name === "highroller" ||
                                    name === "new-casino" || 
                                    name === "mobile-casino" || 
                                    name === "paypal-casino" ||
                                    name === "jackpot-casino" ? "active" : undefined) data-id="menu-casino").toggle-wrap.child
                            li(class=(name === "best-casino" ? "active" : undefined))
                                a(href="/best-casino.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-1"></use>
                                        </svg>
                                    span.content
                                        p Best Casinos
                            li(class=(name === "casino-bonuses" ? "active" : undefined))
                                a(href="/casino-bonuses.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-2"></use>
                                        </svg>
                                    span.content
                                        p Casino Bonuses
                            li(class=(name === "highroller" ? "active" : undefined))
                                a(href="/highroller.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-3"></use>
                                        </svg>
                                    span.content
                                        p For Highroller
                            li(class=(name === "new-casino" ? "active" : undefined))
                                a(href="/new-casino.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-4"></use>
                                        </svg>
                                    span.content
                                        p New Casinos
                            li(class=(name === "mobile-casino" ? "active" : undefined))
                                a(href="/mobile-casino.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-5"></use>
                                        </svg>
                                    span.content
                                        p Mobile Casino
                            li(class=(name === "paypal-casino" ? "active" : undefined))
                                a(href="/paypal-casino.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-6"></use>
                                        </svg>
                                    span.content
                                        p Paypal Casino
                            li(class=(name === "jackpot-casino" ? "active" : undefined))
                                a(href="/jackpot-casino.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-7"></use>
                                        </svg>
                                    span.content
                                        p Jackpot Casino
                            li(class=(name === "fraud-test" ? "active" : undefined))
                                a(href="/fraud-test.html").d-flex.d-flex-ai-center
                                    span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                        <svg >
                                            <use xlink:href="./img/sprites.svg#casino-menu-8"></use>
                                        </svg>
                                    span.content
                                        p Fraud Test
                    li(class=(name === "casino-bonuses" ? "active" : undefined)).d-flex.d-flex-ai-center
                        .svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                            <svg >
                                <use xlink:href="./img/sprites.svg#menu-slots"></use>
                            </svg>
                        .content
                            p.p2.p2--bold ONLINE SLOTS
                            p.p3 Exclusive Deals
                        .arrow
                            <svg >
                                <use xlink:href="./img/sprites.svg#icon-arrow"></use>
                            </svg>
                    li(class=(name === "casino-bonuses" ? "active" : undefined)).d-flex.d-flex-ai-center
                        .svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                            <svg >
                                <use xlink:href="./img/sprites.svg#menu-tips"></use>
                            </svg>
                        .content
                            p.p2.p2--bold BEST TIPS
                            p.p3 Exclusive Deals
                        .arrow
                            <svg >
                                <use xlink:href="./img/sprites.svg#icon-arrow"></use>
                            </svg>    
                    li(class=(name === "casino-bonuses" ? "active" : undefined)).d-flex.d-flex-ai-center
                        .svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                            <svg >
                                <use xlink:href="./img/sprites.svg#menu-predictions"></use>
                            </svg>
                        .content
                            p.p2.p2--bold PREDICTIONS
                            p.p3 Exclusive Deals <span>45</span>
                        .arrow
                            <svg >
                                <use xlink:href="./img/sprites.svg#icon-arrow"></use>
                            </svg>
        .mobile-wrap__bottom
            .mobile-wrap__menu
                ul
                    li(class=(name === "about" ? "active" : undefined))
                        a(href="/about.html").d-flex.d-flex-ai-center 
                            span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                <svg >
                                    <use xlink:href="./img/sprites.svg#menu-about"></use>
                                </svg>
                            span.content
                                p About
                    li(class=(name === "contact" ? "active" : undefined))
                        a(href="/contact.html").d-flex.d-flex-ai-center 
                            span.svg-bg.d-flex.d-flex-ai-center.d-flex-jc-center
                                <svg >
                                    <use xlink:href="./img/sprites.svg#menu-contact"></use>
                                </svg>
                            span.content
                                p Contact
            .mobile-wrap__auth
                a.btn-main(href="/") Log In
                a.btn-main.blue(href="/") Join Now