footer.footer
    .footer__top.d-lg-flex.d-lg-flex-lg-ai-center.d-lg-flex-jc-between
        a(href="/").footer__logo
            img(src="./img/logo-footer.png", alt="")
        .footer__licenses.d-flex.d-flex-ai-center.d-flex-ff-row-wrap
            img(src="./img/licenses/plus-18.png", alt="" width='30' height='30')
            a(href="http://www.gamblingtherapy.org/")
                img(src="./img/licenses/gambling-theraphy.png", alt="" width='70' height='28')
            a(href="http://www.gamcare.org.uk/")
                img(src="./img/licenses/gamecare.png", alt="" width='28' height='32')
            a(href="https://www.begambleaware.org/")
                img(src="./img/licenses/begambleaware.png", alt="" width='160' height='20')
            a(href="http://www.gamblersanonymous.org.uk/")
                img(src="./img/licenses/responsible-gambling.png", alt="" width='44' height='27')
            a(href="https://www.gamblingcommission.gov.uk/home.aspx")
                img(src="./img/licenses/gambling.png", alt="" width='90' height='25')
            a(href="https://www.gamstop.co.uk/")
                img(src="./img/licenses/gamstop.png", alt="" width='110' height='20')
    .footer__mid.d-lg-flex.d-lg-flex-ai-center
        .content
            span.caption--m DISCLAIMER
            p.p3 All bonuses, promotions, and free bet offers listed on the site are subject to the specific terms and conditions and the individual requirements of the operators promoting them. Stakers does not provide any type of customer service or support for any of the betting incentives and offers that are to be found on this site. This site and all the offers listed on this site are related to gambling and are only suitable for those at or above the legal age within those jurisdictions that permit online gambling. Furthermore, all logos, images, and third-party trademarks are the sole property of their individual owners. All trademarks and all references to trademarks themselves are made solely under the intention of fair promotion of all the services and betting operators mentioned on this site.
        .content
            span.caption--m COOKIE USE
            p.p3 Stakers.com operates both first and also third-party cookies on your computer. These are specifically used to improve the site and provide personalised functionality. We will assume that you accept our use cookies, as explained, by continuing to use our site. More details.
    .footer__bottom
        span.caption--m HELP
        .d-flex.d-flex-ai-center.d-flex-ff-row-wrap.p3
            a(href="") Cookies Policy
            a(href="") Privacy Policy
            a(href="") Terms & Conditions
            a(href="") Have a question? Write to us hey@esportebet.com