header.header
    .header__top.d-flex.d-flex-ai-center.d-flex-jc-between
        a.header__logo(href="/")
            img(src="img/logo.png", alt="", srcset="")
        .d-flex
            a.btn-main.blue(href="/") Join Now
            button.mobile-menu
                span
                span
                span
    .header__menus.d-flex
        .d-flex
            .header__menu.d-flex
                ul.d-flex
                    li(class=(name === "best-casino" ? "active" : undefined))
                        a(href="/best-casino.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-1"></use>
                            </svg>
                            |Best Casinos
                    li(class=(name === "casino-bonuses" ? "active" : undefined))
                        a(href="/casino-bonuses.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-2"></use>
                            </svg>
                            |Casino Bonuses
                    li(class=(name === "highroller" ? "active" : undefined))
                        a(href="/highroller.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-3"></use>
                            </svg>
                            |For Highroller
                    li(class=(name === "new-casino" ? "active" : undefined))
                        a(href="/new-casino.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-4"></use>
                            </svg>
                            |New Casinos
                    li(class=(name === "mobile-casino" ? "active" : undefined))
                        a(href="/mobile-casino.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-5"></use>
                            </svg>
                            |Mobile Casino
                    li(class=(name === "paypal-casino" ? "active" : undefined))
                        a(href="/paypal-casino.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-6"></use>
                            </svg>
                            |Paypal Casino
                    li(class=(name === "jackpot-casino" ? "active" : undefined))
                        a(href="/jackpot-casino.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-7"></use>
                            </svg>
                            |Jackpot Casino
                    li(class=(name === "fraud-test" ? "active" : undefined))
                        a(href="/fraud-test.html").p3
                            <svg class="svg-icon">
                                <use xlink:href="./img/sprites.svg#casino-menu-8"></use>
                            </svg>
                            |Fraud Test