section.content-block.block.navigation
    h2 Online Casino Bonus
    p The Weekend Bonus Fair never ceases to amaze at Stakersland, and each weekend seems to bring in a bigger attendance than the last. German, Austrian, British, Spanish stakers – they all want a piece.
    .navigation__list.navigation__list--4-items
        a(href="").navigation__item.navigation__item--right.d-flex.d-flex-ff-column.d-flex-jc-between.border
            i.bg-image(style="background-image: url(./img/icons/nav-book.png);")
            span.content
                p.p1.p1--semi-bold How to claim
                p.p3 reputable site
        a(href="").navigation__item.navigation__item--right.d-flex.d-flex-ff-column.d-flex-jc-between.border
            i.bg-image(style="background-image: url(./img/icons/nav-faq.png);")
            span.content
                p.p1.p1--semi-bold 5 Thing to know
                p.p3 before betting
        a(href="").navigation__item.navigation__item--w100.border
            .d-flex.d-flex-ai-center.d-flex-jc-between
                span.d-flex.d-flex-ai-center
                    i.bg-image(style="background-image: url(./img/icons/nav-gold-star.png);")
                    span.content
                        p.p1.p1--semi-bold Claim Loyalty And VIP Bonus
                        p.p3 loyalty bonuses you can claim
                span.arrow.d-flex.d-flex-ai-center.d-flex-jc-center
                    <svg>
                        <use xlink:href="./img/sprites.svg#icon-arrow"></use>
                    </svg>