section.navigation.content-block
    h2 Best Casinos sites & Bonuses
    p At the heart of Stakersland is the famous ‘Casino Square’ and it is right here where stakers can gather, discuss, and enjoy the very best in online casino sites entertainment, 24 hours a day, seven days a week.
    .navigation__list.navigation__list--4-items
        .navigation__item.expert
            <svg class="svg-icon expert__label">
                <use xlink:href="./img/sprites.svg#icon-recommended"></use>
            </svg>
            .expert__head.d-flex.d-flex-ai-center
                .avatar
                    img(src="./img/expert.png", alt="")
                    <svg class="svg-icon">
                        <use xlink:href="./img/sprites.svg#icon-verified"></use>
                    </svg>
                .info
                    p.h4 Mark Seibert
                    span.tag Exp. in gambling
            .expert__row
                .d-flex.d-flex-ai-center.d-flex-jc-between
                    p.p3 Playing Exp.:
                    p.p3.p3--bold 6 years
                .d-flex.d-flex-ai-center.d-flex-jc-between
                    p.p3 Casino Reviews:
                    p.p3.p3--bold 320
        a(href="").navigation__item.navigation__item--right.d-flex.d-flex-ff-column.d-flex-jc-between
            i.bg-image(style="background-image: url(./img/icons/nav-fire.png);")
            span.content
                p.p1.p1--semi-bold Welcome Bonuses
                p.p3 Getting started in the Mobile
        a(href="").navigation__item.d-flex.d-flex-ai-center
            i.bg-image(style="background-image: url(./img/icons/nav-medal.png);")
            span.content
                p.p1.p1--semi-bold Exclusive FS
                p.p3 how to find
        a(href="").navigation__item.d-flex.d-flex-ai-center
            i.bg-image(style="background-image: url(./img/icons/nav-star.png);")
            span.content
                p.p1.p1--semi-bold Online Slots
                p.p3 reputable site
